{:paths ["src" "resources"]
 :deps
 {ring/ring-core                   {:mvn/version "1.9.5"},
  ring/ring-jetty-adapter          {:mvn/version "1.9.5"}
  selmer/selmer                    {:mvn/version "1.12.50"}
  seancorfield/next.jdbc           {:mvn/version "1.2.659"}
  org.postgresql/postgresql        {:mvn/version "42.3.6"}
  com.mchange/c3p0                 {:mvn/version "0.9.5.5"}
  integrant/integrant              {:mvn/version "0.8.0"}
  dev.weavejester/ragtime          {:mvn/version "0.9.1"}
  hiccup/hiccup                    {:mvn/version "1.0.5"}
  crypto-password/crypto-password  {:mvn/version "0.3.0"}
  crypto-random/crypto-random      {:mvn/version "1.2.1"}
  ring/ring-defaults               {:mvn/version "0.3.3"}
  compojure/compojure              {:mvn/version "1.7.0"}
  metosin/malli                    {:mvn/version "0.8.4"}
  io.sentry/sentry-clj             {:mvn/version "5.7.178"}
  cprop/cprop                      {:mvn/version "0.1.19"}
  com.draines/postal               {:mvn/version "2.0.5"}
  com.github.seancorfield/honeysql {:mvn/version "2.2.891"}
  jarohen/chime                    {:mvn/version "0.3.3"}
  org.slf4j/slf4j-simple           {:mvn/version "1.7.36"}
  org.clojure/data.json            {:mvn/version "2.4.0"}}
 :aliases
 {:dev    {:extra-paths ["dev"]
           :extra-deps  {integrant/repl {:mvn/version "0.3.2"}}}
  :server {:main-opts ["-m" "evolduo-app.system"]}
  :build  {:deps       {io.github.clojure/tools.build {:git/tag "v0.8.2" :git/sha "ba1a2bf"}}
           :ns-default build}}}
