;; resources/migrations/001-add-table-evolution.edn
{:up   ["CREATE TABLE evolution (id INTEGER PRIMARY KEY,
                        created_at timestamp NOT NULL,
                        public bool NOT NULL,
                        min_ratings int NOT NULL,
                        initial_iterations int NOT NULL,
                        total_iterations int NOT NULL,
                        crossover_rate int NOT NULL,
                        mutation_rate int NOT NULL,
                        key varchar(2) NOT NULL,
                        pattern varchar(20) NOT NULL,
                        tempo int NOT NULL,
                        user_id int NOT NULL
                        );"]
 :down ["DROP TABLE evolution;"]}
