;; resources/migrations/002-add-table-evolution.edn
{:up   ["CREATE TABLE evolution (id INTEGER PRIMARY KEY,
                                 created_at TIMESTAMP NOT NULL,
                                 public BOOL NOT NULL,
                                 min_ratings INT NOT NULL,
                                 initial_iterations INT NOT NULL,
                                 total_iterations INT NOT NULL,
                                 crossover_rate INT NOT NULL,
                                 mutation_rate INT NOT NULL,
                                 key VARCHAR(2) NOT NULL,
                                 mode VARCHAR(50) NOT NULL,
                                 pattern VARCHAR(20) NOT NULL,
                                 chord VARCHAR(20) NOT NULL,
                                 tempo INT NOT NULL,
                                 user_id INTEGER DEFAULT 0 REFERENCES users(id) ON DELETE SET DEFAULT
                                );"]
 :down ["DROP TABLE evolution;"]}
