;; resources/migrations/002-add-table-evolution.edn
{:up   ["CREATE TABLE evolutions (id SERIAL PRIMARY KEY,
                                 created_at TIMESTAMP NOT NULL DEFAULT NOW(),
                                 public BOOLEAN NOT NULL,
                                 min_ratings INTEGER NOT NULL,
                                 evolve_after VARCHAR(20) NOT NULL,
                                 initial_iterations INTEGER NOT NULL,
                                 population_size INTEGER NOT NULL,
                                 total_iterations INTEGER NOT NULL,
                                 crossover_rate SMALLINT NOT NULL,
                                 mutation_rate SMALLINT NOT NULL,
                                 key VARCHAR(2) NOT NULL,
                                 mode VARCHAR(50) NOT NULL,
                                 progression VARCHAR(20) NOT NULL,
                                 repetitions SMALLINT NOT NULL DEFAULT 1,
                                 chord VARCHAR(20) NOT NULL,
                                 tempo INTEGER NOT NULL,
                                 user_id INTEGER REFERENCES users(id) NOT NULL,
                                 rules JSONB NOT NULL
                                );"]
 :down ["DROP TABLE evolutions;"]}
