;; resources/migrations/003-add-all-the-things.edn
{:up   ["CREATE TABLE iteration (id INTEGER PRIMARY KEY,
                                 created_at TIMESTAMP NOT NULL,
                                 public BOOL NOT NULL,
                                 num INT NOT NULL,
                                 evolution_id INTEGER REFERENCES evolution(id)
                                );"
        "CREATE TABLE chromosome (id INTEGER PRIMARY KEY,
                                  created_at TIMESTAMP NOT NULL,
                                  fitness INT BOOL NOT NULL,
                                  genes TEXT NOT NULL,
                                  abc TEXT NOT NULL,
                                  iteration_id INTEGER REFERENCES iteration(id)
                                 );"
        "CREATE TABLE rating (id INTEGER PRIMARY KEY,
                              created_at TIMESTAMP NOT NULL,
                              value BOOL NOT NULL,
                              chromosome_id INTEGER REFERENCES chromosome(id),
                              user_id INTEGER REFERENCES user(id)
                             );"
        "CREATE TABLE invitation (id INTEGER PRIMARY KEY,
                                  created_at TIMESTAMP NOT NULL,
                                  email VARCHAR(255) NOT NULL,
                                  evolution_id INTEGER REFERENCES evolution(id),
                                  created_by INTEGER REFERENCES user(id)
                                 );"]
 :down ["DROP TABLE invitation;"
        "DROP TABLE rating;"
        "DROP TABLE chromosome;"
        "DROP TABLE iteration;"]}
