;; resources/migrations/003-add-all-the-things.edn
{:up   ["CREATE TABLE iteration (id INTEGER PRIMARY KEY,
                                 created_at TIMESTAMP NOT NULL,
                                 evolve_after TIMESTAMP NOT NULL,
                                 num INT NOT NULL,
                                 last BOOL NOT NULL DEFAULT 0,
                                 ratings INT NOT NULL DEFAULT 0,
                                 version VARCHAR(25) NOT NULL,
                                 evolution_id INTEGER REFERENCES evolution(id) NOT NULL
                                );"
        "CREATE TABLE chromosome (id INTEGER PRIMARY KEY,
                                  created_at TIMESTAMP NOT NULL,
                                  fitness INT NOT NULL,
                                  genes BLOB NOT NULL,
                                  abc TEXT NOT NULL,
                                  iteration_id INTEGER REFERENCES iteration(id) NOT NULL
                                 );"
        "CREATE TABLE reaction (id INTEGER PRIMARY KEY,
                                created_at TIMESTAMP NOT NULL,
                                type VARCHAR(25) NOT NULL,
                                value INT NOT NULL,
                                iteration_id INTEGER REFERENCES iteration(id) NOT NULL,
                                chromosome_id INTEGER REFERENCES chromosome(id) NOT NULL,
                                user_id INTEGER REFERENCES user(id) NOT NULL
                               );"
        "CREATE TABLE invitation (id INTEGER PRIMARY KEY,
                                  created_at TIMESTAMP NOT NULL,
                                  email VARCHAR(255) NOT NULL,
                                  evolution_id INTEGER REFERENCES evolution(id) NOT NULL,
                                  created_by INTEGER REFERENCES user(id) NOT NULL
                                 );"]
 :down ["DROP TABLE invitation;"
        "DROP TABLE reaction;"
        "DROP TABLE chromosome;"
        "DROP TABLE iteration;"]}
