;; resources/migrations/008-add-password-reset-to-user.edn
{:up   ["ALTER TABLE users ADD COLUMN password_reset_token VARCHAR(200);"
        "ALTER TABLE users ADD COLUMN password_reset_sent_at TIMESTAMP;"
        "CREATE UNIQUE INDEX user_password_reset_token_idx ON users(password_reset_token);"]
 :down ["DROP INDEX user_password_reset_token_idx;"
        "ALTER TABLE users DROP COLUMN password_reset_sent_at;"
        "ALTER TABLE users DROP COLUMN password_reset_token;"
        ]}
